<div *ngIf='upload'>
    <form> 

        <div class="form-group">
                <label for="">Image</label>
                <input class="form-control" type='file' name="avatarImage" required multiple ng2FileSelect [uploader]='uploader'>
        </div>
        <div class="row" *ngFor="let item of uploader.queue">
             <div class="col-sm-4">{{item.file.name}}</div>
             <div class="col-sm-4">    
                <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress + '%'}">

                    </div>
                </div>
             </div>
             <div class="col-sm-4">
                 <button type='button' class="btn btn-dark" (click)="item.upload()">Upload</button>
                 <button type='button' class="btn btn-danger" (click)="item.remove()">Cancel</button>
                </div>
        </div>


        <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
        <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>
        
    <div class="row" *ngIf='uploader?.queue?.length>0'>
        <button type='button'  (click)="uploader.uploadAll()" class='btn btn-primary'>Upload All</button>
    </div> 
        
    </form>
</div> 



